<!DOCTYPE html>
<html>
    <head>
        <title>Admin panel</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', path='/img/favicon.png') }}"/>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <!-- Audiowide -->
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&display=swap" rel="stylesheet">
       <!--  Bangers -->
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poppins&display=swap" rel="stylesheet">
        <!-- Staatliches -->
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poppins&family=Staatliches&display=swap" rel="stylesheet">
       <!--Bree -->
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Bree+Serif&family=Poppins&family=Staatliches&display=swap" rel="stylesheet">
    
        <script src="https://kit.fontawesome.com/6ff322857f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/responsive.css') }}">
    </head>

    <body>
        <script>
            function LoginClicked(){
                document.getElementById('label').style.visibility = 'visible';
            }
        </script>
        <div class="admin_box">
            <h3 class="admin_title">Login</h3>
            <input class="admin_login_area" style="margin-top: 30px;" placeholder="Username"/>
            <input class="admin_login_area" style="margin-top: 20px;"  placeholder="Password"/>
            <input class="admin_login_btn" type="button" value="Login" onclick="LoginClicked()"/>
            <label id="label" class="admin_login_label" style="visibility: hidden;" >Incorrect credintial</label>
        </div>
    </body>
</html>