<!DOCTYPE html>
<html lang="en">

<head>
    <title>Abdella's blog</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/img/favicon.png') }}"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    
    <meta property="og:title" content="Abdella Solomon(Abdesol) Blog">
    <meta property="og:description" content="Checkout Abdella Solomon's blog">
    <meta property="og:image" content="{{ url_for('static', path='img/favicon.png') }}">
    <meta property="og:url" content="/">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website"/>
    <!-- Bootstrap -->

<!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- google-font -->
    <!-- poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Audiowide -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&display=swap" rel="stylesheet">
   <!--  Bangers -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poppins&display=swap" rel="stylesheet">
    <!-- Staatliches -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poppins&family=Staatliches&display=swap" rel="stylesheet">
    <!--Bree -->
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Bree+Serif&family=Poppins&family=Staatliches&display=swap" rel="stylesheet">

   <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/6ff322857f.js" crossorigin="anonymous"></script>
    
    <!-- jquary-cdn-link -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

     <!--  custom js file  -->
     <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    
    <!-- custom css file -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">

    <!--  Responsive css file --> 
    <link rel="stylesheet" href="{{ url_for('static', path='/css/responsive.css') }}">

</head>

<body>


      <!-- ======================= Start Header Area ============================== -->

      <header class="header_area">
        <div class="main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="certification">certification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Blog</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- ======================= End Header Area ============================== -->

    <main class="site-main">
        <h1 class="cert-text text-uppercase"><center><br>Blogs</center></h1><br>
        <script>
            var main_url  = window.location.origin;
            var dislike_url = window.location.origin + "/dislike_blog";
            var like_url = window.location.origin + "/like_blog";
    
            var blogs =  {{ blogs | safe }};
    
            var LikedBlogs = loadLocalStorage("LikedBlogs");
    
            function likeClicked(button, id){
                var currentLikes = parseInt(document.getElementById("like_count" + id).innerHTML);
    
                if(LikedBlogs.includes(id)){
                    var response = like_or_dislike(id, dislike_url);
                    if(response === true){
                        document.getElementById("like_count" + id).innerHTML = currentLikes - 1
                        button.src = "{{ url_for('static', path='/img/like.png') }}"
                        LikedBlogs.splice(LikedBlogs.indexOf(id), 1)
                    }
                }
                else{
                    var response = like_or_dislike(id, like_url);
                    if(response === true){
                        document.getElementById("like_count" + id).innerHTML = currentLikes + 1
                        button.src = "{{ url_for('static', path='/img/liked.png') }}"
                        LikedBlogs.push(id);
                    }
                }
                localStorage.removeItem("LikedBlogs");
                localStorage.setItem("LikedBlogs", JSON.stringify(LikedBlogs));
            }
        </script>
        <div class="boxed">
            {% for blog in blogs %}
                <div class="project_view" style="margin-left: 10%;margin-right: 10%;display: block;margin-bottom: 25px;">
                    <img id="{{blog.id}}" style="width: 70%;margin-left: 15%">
                    <p class="title" style="padding-left: 10%;">{{ blog.title }}</p>
                    <p class="content" style="white-space: pre-line;padding-left: 10%;padding-right: 2%;font-size: 20px;">{{ blog.description }}</p>
                    
                    <div style="display: flex;align-items: center;padding-left: 12%;padding-top:20px;margin-bottom: 15px;">
                        <div  style="display: flex;align-items: center;margin-right: 25px;">
                            <input type="image" id="like_btn{{blog.id}}"
                                    style="height: 30px; width: 30px;" onclick="likeClicked(this, {{blog.id}})"/>
                            <div id="like_count{{blog.id}}" style="font-size: 18px;" >{{ blog.likes }}</div>
                        </div>
                        <a href="{{ blog.url }}" target="_blank"><div class="btn" style="width: 170px;">Read Article</div></a>
                    </div>
                    <script>
                        document.getElementById("{{blog.id}}").src = main_url + "/files/" + "{{blog.img}}";
                        likeBtnStart(document.getElementById("like_btn{{blog.id}}"), "{{blog.id}}", LikedBlogs)
                    </script>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer class="footer-area">
        <div class="container">
            <div class="">
                <div class="social text-center">
                    <h5 class="text-uppercase">Follow me</h5>
                    <a href="https://www.linkedin.com/in/abdella-solomon-7070ab213/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Abdesol" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/AbdellaSolomon" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://abdesol.medium.com/" target="_blank"><i class="fab fa-medium"></i></a>
                    <a href="https://stackoverflow.com/users/13993558/abdella-solomon" target="_blank"><i class="fab fa-stack-overflow"></i></a>
                </div>
                <div class="copyrights text-center">
                    <p class="copy">
                        <br>Copyright ©2021 All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
